* {
    margin: 0;
    padding: 0;
}

.box1 {
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 350px;
    width: 450px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    padding-left: 50px;
}

.box1:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.icon1 {
    display: flex;
    flex-direction: row;
    color: #41B06E;
    font-size: 30px;
    margin-top: 22px;
    margin-left: -30px;
}

.box1-details {
    margin: 10px;
}

.icon2 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 400;
    color: #41B06E;
    margin-top: 20px;
    margin-left: -30px;
}

.box1-details h1 {
    margin-left: 20px;
    margin-top: -38px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.box1-details p {
    text-align: center;
    margin-left: 180px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 130px;
    font-weight: 400;
}

.box2-details {
    margin: 10px;
}

.box2-details h1 {
    margin-left: 50px;
    margin-top: -40px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
}

.scrollable-menu {
    max-height: 150px;
    overflow-y: visible;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.scrollable-menu li {
    text-align: center;
    padding: 10px 0 0 110px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.box2 {
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 500px;
    width: 1170px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    margin-top: 20px;
    margin-left: 16px;
}

.box2:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.icon3 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 400;
    color: #41B06E;
    margin-top: 30px;
    margin-left: 20px;
}

.box3-details h1
{
    float: left;
    margin-left: 70px;
    margin-top: -40px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
.weightgraph
{
    margin-top: 20px;
    margin-left: 30px;
}
.box3 {
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 650px;
    width: 580px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.box3:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box4-details h1
{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.scrollable-menu1 {
    max-height: 150px;
    overflow-y: visible;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.scrollable-menu1 li {
    text-align: center;
    padding: 10px 0 0 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 70px;
}
.scrollable-menu2 {
    max-height: 150px;
    overflow-y: visible;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.scrollable-menu2 li {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
}
.box4 {
    margin: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 560px;
    width: 1150px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.box4:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box5 {
    margin: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 200px;
    width: 400px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.box5:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box6
{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 350px;
    width: 600px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;   
}
.box6:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box6details{
    margin-top: -75px;
    margin-left: 150px;
}
.box6details p
{
    margin-top: -30px;
    margin-left: -80px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.icon6
{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 400;
    color: #41B06E;
    margin-top: 100px; 
    margin-left: -130px;
}
.piechart
{
    margin-top: -30px;
}
.box7
{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 200px;
    width: 1350px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;   
}
.box7-details p
{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.box8
{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 400px;
    width: 580px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;  
    margin-top: -420px; 
}
.box8:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box9{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 400px;
    width: 580px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;  
    margin-top: 20px; 
}
.box9:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box10{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 400px;
    width: 580px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;  
    margin-top: 20px; 
}
.box10:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.box11{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 400px;
    width: 550px;
    background-color: #2c2a3a;
    border-radius: 20px;
    transition: all .3s ease-in-out;  
    margin-top: 20px; 
}
.box11:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
@media (max-width: 768px) {
    .box1 {
        flex-direction: column; 
        height: auto; 
        width: 100%; 
    }

    .box1-details {
        margin: 10px 0; 
    }

    .box1-details h1 {
        margin-left: 20px; 
        font-size: 24px;
    }

    .box1-details p {
        margin-left: 0; 
        font-size: 80px; 
    }

    .icon1 {
        font-size: 20px; 
        margin-top: 10px;
    }

    .icon2 {
        font-size: 20px; 
        margin-top: 10px; 
    }
}


@media (max-width: 480px) {
    .box1 {
        height: auto; 
        padding: 10px; 
        flex-direction: column; 
    }

    .box1-details h1 {
        font-size: 20px; 
    }

    .box1-details p {
        font-size: 50px; 
    }
    
    .scrollable-menu {
        max-height: 100px;
    }
}
.no-data
{
    display: flex;
    margin-top: -30px;
}
.no-data img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-left: 700px;
}
.no-data h1
{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    margin-top: 550px;
    margin-left: -400px;
}